$background-color_1: rgb(255, 255, 255);
$font-color_1: rgb(84, 84, 84);
$font-color_2:rgb(84, 84, 84);
$font-family_1:  Cursive, Helvetica, sans-serif;

*{
	margin: 0;
	padding: 0 10% 0% 0% 15%;
    box-sizing: inherit;
}

header{
    width: fit-content;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: row;

    .logoArea{
        width: 40%;
        display: flex;
        flex-direction: row;
    }

    .logo{
        height: 90px;
        width: 50%;
    }

    .rwdButton{
        display: none;
    }

    .topMenu{
        height: 100%;
        padding: 0px 90px 0px 150px;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .topMenuItem{
        cursor: pointer;
        padding-left: 15px;
        font-size: 25px;
        font-family: $font-family_1 ;
        color: $font-color_1;
        text-decoration: none;
        transition: 0.5s;
    }

    .topMenuItem:hover{
        color: #ff9d00;
        transition: 0.5s;

    }
    .topMenuItem_active{
        color: #ff9d00;
    }


}

 /* Responsive Styles */
@media screen and (max-width: 767px){
    header{
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        .logoArea{
        width: 100%;
        }
        .logo{
            width: 50%;
            order: 1;
        }
        .rwdButton{
            cursor: pointer;
            display: flex;
            justify-content: right;
            width: 50%;
            height: 90px;
            padding: 0px 0px 0px 20px;
            order: 2;
        }

        .topMenu{
            margin: 0;
            padding: 0px 0px 5px 0px;
            width: 100%;
            height: fit-content;
            flex-direction: column;
            order: 3;
        }

        .topMenuItem{
            padding: 0px;
        }

    }
}
