$background-color_1: rgb(255, 255, 255);
$font-color_1: rgb(84, 84, 84);
$font-color_2:rgb(84, 84, 84);
$font-family_1:  Cursive, Helvetica, sans-serif;

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

header{
    width: 850px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: row;
    .logo{
        height: 90px;
        width: 20%;
    }
    .topMenu{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .topMenuItem{
        cursor: pointer;
        padding-left: 10px;
        font-size: 25px;
        font-family: $font-family_1 ;
        color: $font-color_1;
        text-decoration: none;
        transition: 0.5s;
    }

    .topMenuItem:hover{
        color: #ff9d00b7;
        transition: 0.5s;

    }
    .topMenuItem_active{
        color: #ff9d00b7;
    }
}

// header{
//     width: 100%;
//     height: 5%;
//     padding: 0px 15% 0% 15%;
//     display: flex;
//     flex-direction: row;
//     background: rgb(255, 255, 255);
//     // background: linear-gradient(0deg, #50577D 0%, #757DA0 50%, #605877 100%); 
//     height: fit-content ;
//     .headerContent{

//         width: 70%;
//             .logo{
//                 width: 30%;
//                 min-width: fit-content;
//                 max-width: 100px;
//             }
//             .topMenu{
//                 width: 70%;
//                 font-size: 25px;
//                 font-family: $font-family_1 ;
//                 margin: 10px 5px 10px 0px;
//                 color: $font-color_1;
//                 font-family: $font-family_1;
//                 .topMenuItem{
//                     padding-left: 15px;
//                     color:$font-color_2;
//                     text-decoration: none;
//                     height: fit-content;
//                     width: fit-content;
//                     transition: 1s;
//                 }

//                 .topMenuItem:hover{
//                     color: #000000;
//                 }
//                 .topMenuItem_active{
//                     color: #000000;
//                 }
//             }
//     }
// }








 /* Responsive Styles */
@media screen and (max-width: 767px){
    header{
        .headerContent{
            margin: 5px 0% 0% 0%;
            width: 100%;
            height: fit-content;
                .logo{
                    padding-left: 5px;
                    width: 100%;
                }
                .topMenu{
                    width: 100%;
                    margin: 5px 5px 5px 0px;
                    flex-direction: column;
                    .topMenuItem{
                        padding-left: 5px;
                    }
                }
        }
    }
}
