<header>
    <div id="headerContent" class="headerContent">
        <!-- <div id="logo" class="logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 16 16" enable-background="new 0 0 16 16">
            <path d="M0,9l4,1.5L6,16l2.861-3.82L14,14l2-14L0,9z M7.169,11.44l-0.916,2.485l-1.086-3.118l8.402-7.631L7.169,11.44z"/>
            </svg>
        </div> -->
    
        <div id="topMenu" class="topMenu">
            <div id="home" class="topMenuItem"><a class="topMenuItem" routerLink="content" routerLinkActive="topMenuItem_active">Home</a></div>
            <div id="home" class="topMenuItem"><a class="topMenuItem" routerLink="search-results" routerLinkActive="topMenuItem_active">Flights</a></div>
            <!-- <div id="weather" class="topMenuItem"><a class="topMenuItem" routerLink="weather" routerLinkActive="topMenuItem_active">Weather</a></div> -->
            <!-- <div id="contactUs" class="topMenuItem"><a class="topMenuItem" routerLink="" routerLinkActive="topMenuItem_active">Contact Us</a></div> -->
            <!-- <div id="myAccount" class="topMenuItem"><a class="topMenuItem" routerLink="account" routerLinkActive="topMenuItem_active">My Account</a></div> -->
        </div>
    </div>
</header>
