*{
	margin: 0;
	padding: 0;
    // position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: rgba(211, 214, 215, 0.684);
    opacity: 1;
    // position: absolute;
    bottom: 0;
}

.copyright{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}