*{
	margin: 0;
	padding: 0;
    // position: fixed;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.1);
}

.copyright{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}