*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

$font-family_1: "Arial Black", Gadget, sans-serif;
$font-family_2:  Cursive, Helvetica, sans-serif;

.hideItem{
    display: none;
}

body{
    height: fit-content;
    width: auto;
}

.header1{
    padding: 30px 0px 30px 0px;
    font-family: $font-family_2;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 4px;
    color: #f4e2e2;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 700;
    text-decoration: none;
    font-style:random($limit: 1);
    font-variant: normal;
    text-transform: none;
    }

.searchResultsBox{
    width: 80%;
    height: fit-content;
    margin: 0px auto 20px auto;
}

    .item{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        // background-color: #f4e2e2;
        opacity: 0.9;
            .price{
                background-color:  #f4e2e2;
                font-family: $font-family_2;
                font-size: 20px;
                padding: 5px 15px 5px 15px;
                width: fit-content;
                border-radius: 15px 15px 0px 0px;
            }

            .itemBox{
                width: 100%;
                height: 300px;  // height for test
                display: flex;
                flex-direction: column;
                background-color: #f4e2e2;
                opacity: 0.8;
                font-family: $font-family_2;
                font-size: 18px;
                border-radius: 0px 15px 15px 15px;
            }

            .itemBox:hover{
                transition: 0.5s;
                opacity: 1;
            }

            .itemBoxC1{
                padding: 5px 5px 5px 5px;
                display: flex;
                flex-direction: row;
            }

            .flyFrom{
                width: fit-content;
                padding: 5px 5px 5px 5px;
            }

            .planeIconSmall{
                width: fit-content;
                padding-top: 2.5px;
                width: 30px;
                height: 30px;
            }

            .flyTo{
                width: fit-content;
                padding: 5px 5px 5px 5px;
            }

            .departure{
                padding: 5px 15px 5px 25px;
            }

            .return{
                padding: 5px 15px 5px 25px;
            }

            .itemBoxC2{
                padding: 5px 5px 5px 5px;
                display: flex;
                flex-direction: row;
            }

            .distance{
                padding: 5px 5px 5px 5px;
            }

            .duration{
                padding: 5px 15px 5px 25px;
            }

            .provider{
                padding: 5px 15px 5px 25px;
            }

            .detailsButDiv{
                padding: 5px 10px 0px 25px;
            }
            
            .detailsButton{
                all :unset;
                text-align: center;
                width: fit-content;
                height: fit-content;
                padding: 0px 10px 0px 10px;
                margin: auto;
                cursor: pointer;
                background-color: #fe9400;
                color: rgb(0, 0, 0);
                // padding: 15px 40px;
                transition: 0.5s;
                border-radius: 15px 15px 15px 15px;
            }

            .detailsButton:hover{
                background-color: rgb(74, 143, 143);
                transform: scale(1.02);
                transition: 0.5s;
            }

            .itemBoxC3{
                padding: 5px 5px 5px 5px;
                display: flex;
                flex-direction: row;
            }
        
    }

@media screen and (max-width: 992px){

}
