<body>
        <!-- widget1 -->
        <div id="widget1" class="widget1">
            <div id="widget1Title" class="widget1Title">Warsaw
                <div id="widget1Icon" class="widget1Icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#231f20}</style></defs><g id="location"><path class="cls-1" d="M22.37 21.09a1 1 0 0 0-1.3.56 1 1 0 0 0 .56 1.3C23.09 23.53 24 24.32 24 25c0 1.22-3.12 3-8 3s-8-1.78-8-3c0-.68.91-1.47 2.37-2.05a1 1 0 0 0 .56-1.3 1 1 0 0 0-1.3-.56C7.29 22 6 23.41 6 25c0 2.85 4.3 5 10 5s10-2.15 10-5c0-1.59-1.29-3-3.63-3.91z"/><path class="cls-1" d="M16 25a1 1 0 0 0 .68-.27C24 17.82 25.47 9.4 22.59 5.26a7.5 7.5 0 0 0-2.74-2.33 8.43 8.43 0 0 0-7.7 0 7.5 7.5 0 0 0-2.74 2.33C6.53 9.4 8 17.82 15.32 24.73A1 1 0 0 0 16 25zM11.05 6.4a5.5 5.5 0 0 1 2-1.69 6.4 6.4 0 0 1 5.86 0A5.5 5.5 0 0 1 21 6.4c2.2 3.25.9 10.25-5 16.2-5.9-5.95-7.2-12.95-4.95-16.2z"/><path class="cls-1" d="M19 9a3 3 0 1 0-3 3 3 3 0 0 0 3-3zm-4 0a1 1 0 1 1 1 1 1 1 0 0 1-1-1z"/></g></svg>
                </div>
            </div>
            <div id="widget1Box" class="widget1Box">
                <div id="widget1Box_R1" class="widget1Box_R1">
                    <div id="widget1Box_R1Content" class="widget1Box_R1Content">
                        <div class="widget1DayName">{{dayName1}}</div>
                        <div class="widget1Clock">{{time1}}</div>
                        <div class="widget1Date">{{date1}}</div>    
                        <div class="widget1Wind1">{{wind1}} m/s</div>
                        <div class="widget1Pressure1">{{pressure1}} hPa</div>
                        <div class="widget1IconButtons">
                        
                        <div (click)="leftArrow1()" class="widget1LeftArrow"><div *ngIf="this.weatherEl>0"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><g data-name="Circle kiri"><circle cx="12" cy="12" r="10" style="fill:#f4e2e2"/><path d="M13 16a1 1 0 0 1-.707-.293l-3-3a1 1 0 0 1 0-1.414l3-3a1 1 0 0 1 1.414 1.414L11.414 12l2.293 2.293A1 1 0 0 1 13 16z" style="fill:#ff8e31"/></g></svg></div></div>
                            <!-- Clear sky day -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '01d'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/clearSkyDay.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Clear sky night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '01n'" class="widget1WeatherLogoAera" 
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/clearSkyNight.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>
                        
                            <!-- Few clouds day -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '02d'" class="widget1WeatherLogoAera"  
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/sunCloud.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Few clouds night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '02n'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/moonCloud.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Scattered / broken clouds - day / night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '03d' || this.widget1Icon1 === '04d' || this.widget1Icon1 === '03n' || this.widget1Icon1 === '04n'" class="widget1WeatherLogoAera"
                            [ngStyle]="{backgroundImage: 'url(../../assets/weather/scatteredClouds.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Shower rain / rain - day / night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '09d' || this.widget1Icon1 === '10d' || this.widget1Icon1 === '09n' || this.widget1Icon1 === '10n'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/rain.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Thunderstorm day / night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '11d' || this.widget1Icon1 === '11n'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/thunderstorm.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Snow day / night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '13d' || this.widget1Icon1 === '13n'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/snow.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>

                            <!-- Mist day / night -->
                            <div (dblclick)="resetWidgetList1()" *ngIf="this.widget1Icon1 === '50d' || this.widget1Icon1 === '50n'" class="widget1WeatherLogoAera"
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/mist.svg)', width: '150px', height: '150px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>
                            
                            <div (click)="rightArrow1()" class="widget1RightArrow"><div *ngIf="this.weatherEl<39"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><g data-name="Circle kanan"><circle cx="12" cy="12" r="10" style="fill:#f4e2e2"/><path d="M11 16a1 1 0 0 1-.707-1.707L12.586 12l-2.293-2.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414l-3 3A1 1 0 0 1 11 16z" style="fill:#ff8e31"/></g></svg></div></div>
                            
                    </div>
                    <div  class="widget1Humidity1">{{humidity1}} %</div>
                    <div class="widget1Description1">{{description1}}</div>
                    <div class="widget1Temperature1">{{widget1Temperature1}}<span>&#8451;</span></div>
                    <div class="widget1ConditionDate">{{conditionDate1 | date: 'HH:mm (dd-MM-yyyy)'}}</div>
                </div>
            </div>
                <div id="widget1Box_R2" class="widget1Box_R2">
                    <div id="widget1Box_R2_C1" class="widget1Box_R2_C1">
                        <div class="widget1Box_R2_C1_Forecast">
                            <div *ngIf="this.widget1Icon1 != ' '" class="widget1WeatherLogoAera" 
                                [ngStyle]="{backgroundImage: 'url(../../assets/weather/clearSkyNight.svg)', width: '50px', height: '50px', backgroundSize: 'cover', margin: 'auto' }">
                            </div>
                            <!-- <div>{{this.weatherData1.list[this.widget1_i].main.temp}} ℃</div>
                            <div>{{this.weatherData1.list[this.widget1_i].dt_txt | date: 'HH:mm (dd.MM)' | slice: 0:6}}</div>
                            <div>{{this.weatherData1.list[this.widget1_i].dt_txt | date: 'HH:mm (dd.MM)' | slice: 7:12}}</div>
                            <div>{{this.weatherData1.list[this.widget1_i].weather[0].icon}}</div> -->
                        </div>
                        <div class="widget1Box_R2_C1_Forecast">
                            <!-- <div>{{this.widget1_i + 1}}</div>
                            <div>{{this.weatherData1.list[this.widget1_i + 1 ].main.temp}} ℃</div>
                            <div>{{this.weatherData1.list[this.widget1_i + 1 ].dt_txt | date: 'HH:mm (dd.MM)' | slice: 0:6}}</div>
                            <div>{{this.weatherData1.list[this.widget1_i + 1 ].dt_txt | date: 'HH:mm (dd.MM)' | slice: 7:12}}</div> -->
                        </div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                    </div>
                    <div id="widget1Box_R2_C2" class="widget1Box_R2_C2">
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                        <div class="widget1Box_R2_C1_Forecast"></div>
                    </div>
                    <div id="widget1Box_R2_C3" class="widget1Box_R2_C3">
                        <div class="widget1Box_R2_C1_Forecast">17</div>
                        <div class="widget1Box_R2_C1_Forecast">18</div>
                        <div class="widget1Box_R2_C1_Forecast">19</div>
                        <div class="widget1Box_R2_C1_Forecast">20</div>
                        <div class="widget1Box_R2_C1_Forecast">21</div>
                        <div class="widget1Box_R2_C1_Forecast">22</div>
                        <div class="widget1Box_R2_C1_Forecast">23</div>
                        <div class="widget1Box_R2_C1_Forecast">24</div>
                    </div>
                    <div id="widget1Box_R2_C4" class="widget1Box_R2_C4">
                        <div class="widget1Box_R2_C1_Forecast">25</div>
                        <div class="widget1Box_R2_C1_Forecast">26</div>
                        <div class="widget1Box_R2_C1_Forecast">27</div>
                        <div class="widget1Box_R2_C1_Forecast">28</div>
                        <div class="widget1Box_R2_C1_Forecast">29</div>
                        <div class="widget1Box_R2_C1_Forecast">30</div>
                        <div class="widget1Box_R2_C1_Forecast">31</div>
                        <div class="widget1Box_R2_C1_Forecast">32</div>
                    </div>
                </div>
            </div>
        </div>

</body>